#name {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 20px 10px 20px 10px;
}
#navbar {
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 3px solid #cccccc;
}
.navbar-nav {
    flex-direction: row;
}
body {
    background-image: url(../images/circles-light.png);
}
h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    background-color: white;
}
#about-me {
    padding-top: 20px;
}
#portrait {
    float: left;
}
#bioText {
    float: left;
}
#picture-row-1 {
    padding-top:10px;
    padding-left:10px;
}
#picture-row-2 {
    padding-left:10px;
    padding-bottom: 100px;
}
.box {
    position: relative;
}

.img-title {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    font-family: 'arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    top: 75%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

.input {
    width:100%
}
#contact-form {
    height: 100px;
}
#submit {
    color: white;
    background-color: #4aaaa5;
}
footer {
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: 6px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 980px) {
    li {
        padding-left: 10px;
    }
}
@media screen and (max-width: 768px) {
    .col-sm-3 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-sm-9 {
        margin-bottom: 50px;
    }
}
